RPC_URL_SEPOLIA=https://forno.celo-sepolia.celo-testnet.org
PRIVATE_KEY=deployer key
CUSD_ADDRESS_SEPOLIA=0xdE9e4C3ce781b4bA68120d6261cbad65ce0aB00b
NGROK_AUTH_TOKEN=
NEXT_PUBLIC_CELO_RPC=https://forno.celo-sepolia.celo-testnet.org
NEXT_PUBLIC_CELO_CHAIN_ID=11142220
NEXT_PUBLIC_CUSD_ADDRESS=0xdE9e4C3ce781b4bA68120d6261cbad65ce0aB00b
NEXT_PUBLIC_CONTRACT_ADDRESS=deployed contract address